%div{"ng-controller"=>"BubbleCtrl"}
	%form{"ng-submit"=>"saveBubble()"}
		%input{:type=>:text,"ng-model"=>"newBubble.bubble_name", "data-name"=>"bubble_name",:validating_popup=>"popupopts"}
		%input{:type=>:text,"ng-model"=>"newBubble.bubble_description", "data-name"=>"bubble_description",:validating_popup=>"popupopts"}
		%input{:type=>:text,"ng-model"=>"newBubble.bubble_age", "data-name"=>"bubble_age",:validating_popup=>"popupopts"}
		%input{:type=>:submit,:value=>:add}

